:root {
  /*--color1 : #7a77b9;                     /* main bar + ribbon2 + buttonbar */
  /*--color1 : #e93d93;*/ /* main bar + ribbon2 + buttonbar */
  /*--color6 : #4e0183;*/
  --color1: #ba1a2d; /* main bar + ribbon2 + bottuns + buttonbar */
  --color6: #0e71a1; /* main bar + ribbon1 + buttonbar */
  --color7: #ff243d; /* bottuns second color */
  --color8: rgba(186, 26, 45, 0.7); /* bottuns second color */

  /*--color2 : rgba(190, 158, 234, 0.5);    /* sidebar */
  --color2: rgba(141, 140, 138, 0.6); /* sidebar */
  /*--color3 : #ea7186;                     /* ribbon1 + bottuns + adv label */
  --color3: #ba1a2d; /* ribbon1 + bottuns + adv label */
  /*--color4 : #f58ea0;                     /* bottuns second color */
  --color4: #94293d; /* bottuns second color */
  /*--color5 : #f58ea0;                     /* Divider */
  --color5: #f6f6f6; /* Divider */
}

@font-face {
  font-family: "El Messiri";
  src: url("fonts/ElMessiri-Regular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
}

.backgroung {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  /* Ù„ØªØºÙŠÙŠØ± Ø§Ù„ØªÙ†Ø³ÙŠÙ‚ Ø¹Ù†Ø¯ Ø§Ù„ÙˆÙ‚ÙˆÙ Ø¹Ù„Ù‰ Ø­Ù‚ÙˆÙ„ Ø§Ù„Ø§Ø¯Ø®Ø§Ù„ */
  outline: none !important;
}

/* ------------------------------------------  Mainbar ------------------------------------------ */

.mainbar {
  position: relative;
  width: 100%;
  height: 80px;
  background-color:  var(--color6);
  border-bottom: 2px solid var(--color5);
  color: white;
  z-index: 2;
}

.main_title {
  font-size: 30px;
  text-align: center;
  margin: auto;
  padding: 15px 40px;
  font-family: "El Messiri", sans-serif;
}

.lang {
  /*  Ù‚Ø³Ù… Ø§Ø®ØªÙŠØ§Ø± Ù„ØºØ© Ø§Ù„Ù…ÙˆÙ‚Ø¹ Ø¨ÙŠÙ† Ø¹Ø±Ø¨ÙŠ ÙˆØ§Ù†Ø¬Ù„ÙŠØ²ÙŠ */
  position: absolute;
  top: 20px;
  left: 5%;
}

.lang p {
  display: inline-block;
  font-size: 18px;
  padding: 0 14px;
  margin: 5px 0;
}

.en {
  border-left: 2px solid white;
}

.cheq_logo {
  width: 225px;
  position: absolute;
  top: 5px;
  right: 3%;
}

/* ------------------------------------------  Sidebar ------------------------------------------ */

.bar1 {
  position: absolute;
  top: 82px;
  width: 240px;
  background: var(--color2);
  transition: all 500ms linear;
  text-align: center;
  font-family: "El Messiri", sans-serif;
  font-size: 16px;
  margin-right: 10px;
  color: white;
}

.bar1 select,
input,
textarea,
button {
  color: black;
}

/* --------- ribbon 1 + 2 --------- */

.ribbon {
  position: relative;
  padding: 7px 0px 5px;
  background: var(--color6);
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
  /*right: -45px;*/
  top: -5px;
  width: 140px;
}

.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
}

.ribbon:before {
  width: 7px;
  height: 100%;
  top: 0;
  right: -6.5px;
  padding: 35px 0 7px;
  background: inherit;
  border-radius: 0 5px 5px 0;
}

.ribbon:after {
  width: 5px;
  height: 5px;
  bottom: -5px;
  right: -4.5px;
  background: #b094b8;
  border-radius: 5px 5px 5px 5px;
}

.ribbon2 {
  position: relative;
  padding: 7px 0px 5px;
  background: var(--color4);

  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
  right: -40px;
  top: -5px;
  width: 150px;
}

.ribbon2:before,
.ribbon2:after {
  content: "";
  position: absolute;
}

.ribbon2:before {
  width: 7px;
  height: 100%;
  top: 0;
  right: -6.5px;
  padding: 32px 0 7px;
  background: inherit;
  border-radius: 0 5px 5px 0;
}

.ribbon2:after {
  width: 5px;
  height: 5px;
  bottom: -5px;
  right: -4.5px;
  background: #b094b8;
  border-radius: 5px 5px 5px 5px;
}

.ribbon3 {
  position: relative;
  padding: 7px 0px 5px;
  background: var(--color6);
  /*background-image: linear-gradient( #2CB0F0, #2289BD );*/
  /*background-image : linear-gradient( var( --color1 ) , var( --color6 ) );*/
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
  right: -45px;
  top: -5px;
  width: 150px;
}

.ribbon3:before,
.ribbon3:after {
  content: "";
  position: absolute;
}

.ribbon3:before {
  width: 7px;
  height: 100%;
  top: 0;
  right: -6.5px;
  padding: 32px 0 7px;
  background: inherit;
  border-radius: 0 5px 5px 0;
}

.ribbon3:after {
  width: 5px;
  height: 5px;
  bottom: -5px;
  right: -4.5px;
  background: #b094b8;
  border-radius: 5px;
}

/* --------- config button --------- */
.cont_butn1 {
  position: relative;
  height: 26px;
  width: 30px;
  background-color: inherit;
  float: left;
  border: none;
  margin-top: 7px;
  padding-top: 4px;
  color: var(--color1);
  outline: none;
}

.cont_butn1:hover {
  font-size: 20px;
  color: var(--color6);
}

.cont_butn {
  position: relative;
  height: 26px;
  width: 30px;
  background-color: inherit;
  float: left;
  border: none;
  margin-top: 7px;
  padding-top: 4px;
  color: var(--color6);
  outline: none;
}

.cont_butn:hover {
  font-size: 20px;
  color: var(--color1);
}

.font-rang1 {
  margin: 4px auto 6px;
}

.entr_fld {
  display: block;
  margin: auto;
}

/* -------------------------------- */

.divider {
  border-top: 5px solid var(--color5);
  border-radius: 5px;
  width: 190px;
  margin: 8px auto 8px;
}

.date1 {
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  height: 18px;
}

.table-condensed .day {
  /* Ø¶Ø¨Ø· Ù‚Ø§Ø¦Ù…Ø© Ø§Ù„ØªØ§Ø±ÙŠØ® */
  padding: 0.5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* Ù„Ø§Ø®ÙØ§Ø¡ Ø²Ø± Ø§Ù„Ø²ÙŠØ§Ø¯Ùˆ ÙˆØ§Ù„Ù†Ù‚ØµØ§Ù† Ù…Ù† Ø­Ù‚Ù„ Ø§Ù„Ù…Ø¨Ù„Øº */
  -webkit-appearance: none;
  margin: 0;
}

/* ---- add payee table   -----  */

.add_payee_div {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.add_payee_div-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px 20px;
  border: 1px solid #888;
  width: 800px;
}

.close_payee_div {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_payee_div:hover,
.close_payee_div:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.bayee_table {
  max-height: 300px;
  overflow-y: scroll;
}

.payee_table_titl {
  text-align: center;
  font-size: 25px;
  font-family: "El Messiri", sans-serif;
}

.bayee_table table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.bayee_table td,
.bayee_table th {
  border: 1px solid #ddd;
  padding: 5px;
}
.bayee_table #Payee_tbl_ser {
  width: 7%;
}

.bayee_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.bayee_table th {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #418696;
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: "El Messiri", sans-serif;
}

.save_payee {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 40px;
  margin: 30px 0 0 0;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 10px 14px -7px #7a1729;
  text-shadow: 0px 1px 0px #3d768a;
  background: linear-gradient(to bottom, var(--color4) 5%, var(--color3) 100%);
  background-color: var(--color4);
  font-family: "El Messiri", sans-serif;
}

.del_payee {
  position: relative;
  left: -50%;
  margin: 10px 0;
  width: 80px;
  height: 40px;
  font-size: 14px;
  color: white;
  border-radius: 10px;
  border: none;
  text-shadow: 0px 1px 0px #3d768a;
  background: linear-gradient(to bottom, var(--color4) 5%, var(--color3) 100%);
  background-color: var(--color4);
  font-family: "El Messiri", sans-serif;
}

/* ---- payee name autocomplete--------------- */

.autocomplete {
  position: relative;
  width: 170px;
  margin: auto;
  /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);*/
}

.Payee_name {
  outline: none;
  padding: 2px;
  /*width: calc(100% - 25px);*/
  width: 170px;
  height: 40px;
  font-size: 16px;
}

.dialog {
  position: absolute;
  background: #fff;
  width: 100%;
  display: none;
  min-height: 40px;
  max-height: 200px;
  overflow-y: scroll;
  border-top: 1px solid #f4f4f4;
  color: black;
  z-index: 5;
}

.dialog.open {
  display: block;
}

.dialog div {
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}

.dialog div:hover {
  background: #f2f2f2;
}

/* ------------------- */

.rest_btn {
  position: relative;
  margin: auto;
  width: 170px;
  height: 45px;
  font-size: 16px;
  color: white;
  background-color: var(--color3);
  border-radius: 10px;
  border: none;

  box-shadow: 0px 10px 14px -7px #7a1729;
  text-shadow: 0px 1px 0px #3d768a;
  background: linear-gradient(to bottom, var(--color4) 5%, var(--color3) 100%);
  background-color: var(--color4);
}

.rest_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 15px;
}

.rest_btn span:after {
  content: "\21BA";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  font-size: 20px;
}

.rest_btn:hover span {
  padding-right: 25px;
}

.rest_btn:hover {
  background: linear-gradient(to bottom, var(--color3) 5%, var(--color4) 100%);
  background-color: var(--color3);
}

.rest_btn:hover span:after {
  opacity: 1;
  right: 0;
}

.how_prnt span:after {
  content: "\1F3AC";
}

.add_chq span:after {
  content: "\2795";
}

.save_chq_div {
  position: relative;
  margin: auto;
  width: 170px;
  height: 60px;
  font-size: 16px;
  color: white;
  background-color: var(--color3);
  border-radius: 10px;
  border: none;
  padding-top: 5px;

  box-shadow: 0px 10px 14px -7px #7a1729;
  text-shadow: 0px 1px 0px #3d768a;
  background: linear-gradient(to bottom, var(--color4) 5%, var(--color3) 100%);
  background-color: var(--color4);
}

.save_chq_div:hover {
  background: linear-gradient(to bottom, var(--color3) 5%, var(--color4) 100%);
  background-color: var(--color3);
}

.save_chq_div h4,
.save_chq_div label {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* ------- switch &slider  ------- */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  /*background-color: var( --color1 );*/
  /*background-image: linear-gradient( #2CB0F0, #2289BD );*/
  background-image: linear-gradient(var(--color1), var(--color6));
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.del_tbl_btn,
.chqAt_download,
.diff_web_prog,
.prog_price {
  position: relative;
  margin: auto;
  width: 170px;
  height: 45px;
  font-size: 16px;
  color: white;
  background-color: var(--color3);
  border-radius: 10px;
  border: none;

  box-shadow: 0px 10px 14px -7px #7a1729;
  text-shadow: 0px 1px 0px #3d768a;
  background: linear-gradient(to bottom, var(--color4) 5%, var(--color3) 100%);
  background-color: var(--color4);
}

.del_tbl_btn:hover,
.chqAt_download:hover,
.diff_web_prog:hover,
.prog_price:hover {
  background: linear-gradient(to bottom, var(--color3) 5%, var(--color4) 100%);
  background-color: var(--color3);
}

.del_tbl_btn span,
.chqAt_download span,
.diff_web_prog span,
.prog_price span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.del_tbl_btn:hover span,
.chqAt_download:hover span,
.diff_web_prog:hover span,
.prog_price:hover span {
  padding-right: 25px;
}

.del_tbl_btn:hover span:after,
.chqAt_download:hover span:after,
.diff_web_prog:hover span:after,
.prog_price:hover span:after {
  opacity: 1;
  right: 0;
}

.del_tbl_btn span:after {
  content: "\2717";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  font-size: 20px;
}

.chqAt_download span:after {
  content: "\22BB";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  font-size: 20px;
}

.diff_web_prog span:after {
  content: "\22C6";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  font-size: 20px;
}

.prog_price span:after {
  content: "\0024";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  font-size: 20px;
}

/*.chqAt_download, .diff_web_prog {
    position: relative;
    margin: auto;
    width:170px;
    height: 45px;
    font-size : 16px;
    color: white;
    background-color: var( --color3 );
    border-radius: 10px;
    border: none;
    
    box-shadow: 0px 10px 14px -7px #7a1729;
    text-shadow:0px 1px 0px #3d768a;
    background:linear-gradient(to bottom, var( --color4 ) 5%, var( --color3 ) 100%);
	background-color:var( --color4 );
}

.chqAt_download:hover {
  background:linear-gradient(to bottom, var( --color3 ) 5%, var( --color4 ) 100%);
  background-color:var( --color3 );
}

.chqAt_download span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.chqAt_download span:after {
  content: '\22BB';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  font-size: 20px;
}

.chqAt_download:hover span {
  padding-right: 25px;
}

.chqAt_download:hover span:after {
  opacity: 1;
  right: 0;
}

*/
.adv_cont {
  position: relative;
  font-size: 17px;
  padding-top: 10px;
  margin: auto;
  width: 170px;
  height: 65px;
  color: white;
  background-color: var(--color3);
  border-radius: 10px;
  border: none;
  direction: ltr;
}

/* ------------------------------------------  chequeat desktop ------------------------------------------ */

.desk {
  position: absolute;
  width: 75%;
}

.adv1 {
  position: relative;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  display: inline-block;
  width: 705px; /* to fix mobile width */
}

.adv1 span {
  position: absolute;
  left: 3px;
  background-color: var(--color3);
  font-size: 11px;
  color: white;
  border-radius: 0px 0px 5px 5px;
}

.adv1 img {
  max-width: 100%;
}

.adv4 {
  position: relative;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  display: inline-block;
  width: 705px; /* to fix mobile width */
}

.adv4 img {
  border: 2px solid #ee5d1c;
}

.adv5 {
  position: relative;
  text-align: center;
  width: 100vw;
  margin-top: 25px;
}

.adv5 img {
  border: 2px solid white;
}

.adv5 span {
  position: relative;
  left: 40px;
  bottom: 40px;
  background-color: var(--color3);
  font-size: 11px;
  color: white;
  border-radius: 0px 0px 5px 5px;
}

.cheque_div {
  border: 1px solid black;
  position: relative;
  top: 30px;
  margin: auto;
  overflow: hidden;
}

.In_cheque {
  position: absolute;
  font-size: 18px;
  text-align: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tafk_lbl {
  /* Ù„ØªÙ†Ø³ÙŠÙ‚ Ø­Ù‚Ù„ Ø§Ù„ØªÙÙ‚ÙŠØ· */
  font-size: 15px;
  text-transform: capitalize;
  margin-top: 15px;
}

.crossing_lbl_diagonal {
  position: absolute;
  width: 120px;
  font-size: 13px;
  text-align: center;
  padding: 4px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-weight: bold;
  z-index: 300;
  margin-top: 10px;
  display: none;
  top: 0.45cm;
  left: -0.4cm;
  transform: rotate(-45deg);
}

.crossing_lbl_horizontal {
  position: absolute;
  width: 140px;
  font-size: 13px;
  text-align: center;
  padding: 4px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
  z-index: 300;
  margin-top: 10px;
  display: none;
  top: 1.35cm;
  left: 6.4cm;
  transform: rotate(0deg);
}

.place_lbl {
  font-size: 17px;
  text-align: center;
}

.sign_name_lbl {
  width: 170px;
  text-align: center;
  background-color: transparent;
  padding: 0px;
  border: none;
  font-family: sans-serif;
  overflow-x: hidden;
}

/* ------------------------------------------ */

.jor_title {
  margin-bottom: -45px;
}

.jor_title p {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 45px;
  font-family: "El Messiri", sans-serif;
  font-size: 19px;
}

.prn_btn {
  position: relative;
  top: 50px;
  margin: auto;
  width: 500px;
  height: 60px;
  font-family: "El Messiri", sans-serif;
}

.prn_btn button {
  width: 500px;
  height: 60px;
  font-size: 30px;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 10px 14px -7px var(--color6);
  text-shadow: 0px 1px 0px #3d768a;
  background: var(--color6);
  /*
    background:linear-gradient(to bottom, var( --color4 ) 5%, var( --color3 ) 100%);
	background-color:var( --color4 );
    */
}

.prn_btn button:hover {
}

.prn_btn button:active {
  position: relative;
  top: 1px;
}

.advs {
  position: relative;
  top: 130px;
  left: 50%;
  transform: translateX(-45%);
  display: inline-block;
}

.adv2 {
  display: inline-block;
  /* display: flex; */ /*  Ø®ÙŠØ§Ø± Ù…Ø¤Ù‚Øª   */
  padding: 0 10px;
}

.adv2 span {
  position: absolute;
  left: 20px;
  background-color: var(--color3);
  font-size: 11px;
  color: white;
  border-radius: 0px 0px 5px 5px;
}

.adv3 {
  display: inline-block;
  padding: 0 25px;
}

.adv3 span {
  position: absolute;
  left: 360px;
  background-color: var(--color3);
  font-size: 11px;
  color: white;
  border-radius: 0px 0px 5px 5px;
}

.chq_table {
  position: relative;
  top: 160px;
  /*top: 30px;*/ /*   Ø®ÙŠØ§Ø± Ù…Ø¤Ù‚Øª  */
  margin: auto;
  display: block;
  width: 700px;
  text-align: center;
  direction: rtl;
  font-family: "El Messiri", sans-serif;
  max-height: 500px;
  height: 100%;
  overflow: auto;
}

.chq_table th {
  text-align: center;
}

.chq_table p {
  font-size: 22px;
  border-bottom: 2px solid black;
}

.chq_table tr > *:nth-child(1) {
  display: none;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate,
.paging_simple_numbers {
  display: none;
}

.prnt_count {
  position: relative;
  transform: translateX(-70%);
  width: 50vw;
  height: 40px;
  font-family: "El Messiri", sans-serif;
  background-color: var(--color2);
  text-align: center;
  border-radius: 15px;
  direction: rtl;
  color: black;
  margin-top: -130px;
}

.prnt_count h5 {
  font-size: 22px;
  display: inline-block;
}

.prnt_counter {
  font-size: 25px;
  color: var(--color3);
  font-weight: bold;
}

.chequeat_prog1 {
  position: relative;
  transform: translateX(-45%);
  width: 62vw;
  height: 40px;
  font-family: "El Messiri", sans-serif;
  background-color: var(--color8);
  text-align: center;
  border-radius: 15px;
  direction: rtl;
  color: black;
  margin-top: 20px;
}

.chequeat_prog1 p {
  font-size: 22px;
  margin-top: 5px;
}

.chequeat_prog1 a {
  color: white;
}

/* ------------------------------------------  Footer ------------------------------------------ */

/* -----  social bar ----- */

.social_bar {
  position: relative;
}

.social_bar .fa {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  width: 30px;
  margin: 3px 1px;
  color: white;
  text-decoration: none;
  font-family: "FontAwesome";
  font-weight: 100;
}

.fa:hover {
  opacity: 0.5;
}

.fa-facebook {
  background: #3b5998;
}

.fa-twitter {
  background: #55acee;
}

.fa-youtube {
  background: #bb0000;
}

.fa-whatsapp {
  background: #25d366;
}

.fa-instagram {
  background: #cd486b;
}

.social_bar .fa-envelope {
  background: #dd4b39;
}

.social_bar .fa-film {
  background: #eb3459;
}

.social_bar .fa-rotate-left {
  background: #aad450;
}

.social_bar .fa-group {
  background: #00bf8f;
}

.bottombar {
  position: relative;
  bottom: 0;
  color: white;
  background-image: linear-gradient(to right, var(--color6), var(--color1));
  text-align: center;
  width: 100vw;
  height: 89px;
  margin-top: 25px;
  padding-top: 5px;
}

/*  Start Section Loading   */

.overlay {
  background: var(--color6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loading_logo {
  width: 500px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
/*  End Section Loading   */

/* ------------------- Ù„Ø§Ù„ØºØ§Ø¡ Ø£ØªØ± Ø¨ÙˆØª Ø³ØªØ±Ø§Ø¨ ------------------ */

* {
  -webkit-box-sizing: content-box;
}

h4 {
  margin-bottom: 2px;
}

input[type="range"] {
  width: 100px;
}

.btn-toolbar p {
  color: black;
}



