body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#overview {
  position: relative;
}

.label {
  position: absolute;
  cursor: move;
  font-size: 18px;
  text-align: center;
}
p {
  margin: 0;
}
.crossing_lbl_horizontal {
  position: absolute;
  width: 140px;
  font-size: 13px;
  text-align: center;
  padding: 4px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
  z-index: 300;
  top: 63px;
  left: 6.4cm;
  transform: rotate(0deg);
}

body {
  display: block;
  margin: 0 !important;
}
.cheque-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main {
  padding: 40px;
}
#sidebar {
  width: 200px;
  max-width: 100%;
}

#sidebar .sidebar-item {
  margin-bottom: 20px !important;
}

#sidebar .sidebar-item .sidebar-label {
  margin-bottom: 10px;
  font-size: 18px;
  display: block;
  width: 100%;
}

#sidebar .sidebar-item .sidebar-input input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

#sidebar .sidebar-item .print-btn {
  display: block;
  width: 100%;
  background-color: black;
  padding-block: 8px;
  border-radius: 4px;
  border-width: 1px;
  color: white;
  cursor: pointer;
}

@media print {
  html {
    direction: ltr;
  }
  body {
    margin: 0;
    padding: 0;
  }
  main {
    padding: 0;
  }
  @page {
    margin: 0;
    padding: 0;
  }
  #cheque_img {
    opacity: 0;
  }
  #sidebar {
    display: none;
  }
}
